RummikubGameEx04-JavaFX/Resource/ConfigurationOfServer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Server">
		<xs:complexType>
			<xs:attribute name="IP" use="required" type="xs:string"></xs:attribute>
			<xs:attribute name="Port" use="required" type="xs:string"></xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>